<div class="cover" id="vis-cover">
    <div class="reload">
        <div class="notice"><i class="fa fa-refresh"></i> Click to generate a new random shape!</div>
    </div>
</div>

<div class="profile-img"></div>
<h1>Andrey Butenko</h1>

<article class="portfolio-section">
    <header class="label">
        <h2>Mission</h2>
    </header>
    <section class="content typography">
        <p>I am a high school student and a full-stack web developer exploring business, design, engineering, music, and programming to have diverse knowledge in many topic areas. I look for opportunities to make a real impact and solve real-world problems.</p>
        <p>When working on a project, I use empathy, utilize code, and employ knowledge:</p>
        <ul>
            <li>The only way to truly address a problem is through <b>empathy</b>. You have to know who you're designing for, and understand their unique challenges.</li>
            <li>I like to work with <b>code</b>. My specialty is the web, and I have experience in both front-end and back-end development.</li>
            <li>Having <b>knowledge</b> of multiple disciplines is important to effective, creative solutions. I am exploring a wide range of subjects, including business, music, design, engineering, and programming.</li>
        </ul>
    </section>
</article>

<article class="portfolio-section">
    <header class="label">
        <h2>Recent Projects</h2>
    </header>
    <section class="content">
        <div class="projects-preview">
            <% page.posts.slice(0, 3).each(function(post){ %>
                <%- partial('_partials/post-tiny', {post: post, index: true}) %>
            <% }) %>
        </div>
        <a href="/projects" class="btn-flat btn-right">See more projects</a>
    </section>
</article>

<article class="actions">
    <div>
        <a href="/projects" class="unformatted">
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <h3>Portfolio</h3>
        </a>
            <a href="/projects" class="unformatted">
                <div class="icon">
                    <i class="fa fa-file-text"></i>
                </div>
                <h3>Resume</h3>
            </a>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/butenkoandrey" target="_blank" class="unformatted">
            <div class="icon">
                <i class="fa fa-linkedin"></i>
            </div>
            <h3>LinkedIn</h3>
        </a>
        <a href="https://www.github.com/andreybutenko" target="_blank" class="unformatted">
            <div class="icon">
                <i class="fa fa-github"></i>
            </div>
            <h3>GitHub</h3>
        </a>
    </div>
</article>

<%- js('js/three.min') %>
<%- js('js/CanvasRenderer') %>
<%- js('js/Projector') %>
<%- js('js/vis') %>
