<header class="page-header">
    <a href="<%= config.root %>" class="logo no-decoration">
        <span><%= config.title %></a></span>
    </a>
    <% if(false) { %>
      <nav>
          <a href="<%= config.root %>" class="nav-link no-decoration"><%= __('Home') %></a>
          <a href="<%= config.root + config.archive_dir %>" class="nav-link no-decoration"><%= __('Posts') %></a>
      </nav>
    <% } %>
</header>
