<header class="page-header">
    <a href="<%= config.root %>" class="logo no-decoration">
        <span><%= config.title %></a></span>
    </a>
    <nav>
        <a href="/#approach" class="nav-link no-decoration">Approach</a>
        <a href="/#experience" class="nav-link no-decoration">Experience</a>
        <a href="/#projects" class="nav-link no-decoration">Projects</a>
    </nav>
    <% if(false) { %>
      <nav>
          <a href="<%= config.root %>" class="nav-link no-decoration"><%= __('Home') %></a>
          <a href="<%= config.root + config.archive_dir %>" class="nav-link no-decoration"><%= __('Posts') %></a>
      </nav>
    <% } %>
</header>
