<%
  function darken(color, percent) {
    // Source: http://stackoverflow.com/questions/5560248/programmatically-lighten-or-darken-a-hex-color-or-rgb-and-blend-colors/13542669#13542669
    var f = parseInt(color.slice(1), 16);
    var t = percent < 0 ? 0 : 255;
    var p = percent < 0 ? percent * -1 : percent;

    var R = f >> 16;
    var G = f >> 8&0x00FF
    var B = f&0x0000FF;

    return "#" +  (0x1000000 + (Math.round((t - R) * p) + R) *  0x10000 + (Math.round((t - G) *  p) + G) * 0x100 + (Math.round((t - B) * p) + B)).toString(16).slice(1);
  }

  function getId(title) {
    return title.replace(/\s+/g, '-').toLowerCase();
  }
%>
<article id="<%= getId(post.title) %>" class="ribbon work-ribbon" style="color: <%= post['text-color'] %>; background-color: <%= darken(post['background-color'], 0.1) %>;">
  <div class="ribbon-body thin" style="background-color: <%= post['background-color'] %>;">
    <div class="content">
      <header class="header">
        <h3 class="title"><%= post.position %></h3>
        <span class="subtitle">
          <span><%= post.company %></span>
          &middot;
          <span><%= post.timeframe %></span>
        </span>
      </header>
      <div class="description">
        <%- post.content %>
      </div>
      <footer class="footer">
        <% post.tags.each(function(tag) { %>
          <a href="/tags/<%= tag.slug %>" class="unstyled" style="background-color: <%= darken(post['background-color'], post['theme'] == 'dark' ? 0.1 : -0.1) %>;"><%= tag.name %></a>
        <% }) %>
        <span onclick="toggleExpanded('<%= getId(post.title) %>')" class="read-more show-expanded" style="color: <%= post['background-color'] %>; background-color: <%= post['text-color'] %>;">Collapse <i class="fa fa-angle-up" aria-hidden="true"></i></span>
        <span onclick="toggleExpanded('<%= getId(post.title) %>')" class="read-more hide-expanded" style="color: <%= post['background-color'] %>; background-color: <%= post['text-color'] %>;">Expand <i class="fa fa-angle-down" aria-hidden="true"></i></span>
      </footer>
    </div>
    <div class="logo" style="background-image: url('/images/<%= post['icon'] %>');')"></div>
  </div>
</article>
